<div class="bus-reports" >

    <h3>Bus Reports</h3>

    <uib-accordion>
        <uib-accordion-group ng-repeat="busReportInfo in busReportsComponentVm.busReportInfo" is-open="status.isCustomHeaderOpen">
            <uib-accordion-heading>
                {{ busReportInfo.organisation }} - {{ busReportInfo.date }}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
            </uib-accordion-heading>
            <table>
                <tr>
                    <th><h3>Bus ID</h3></th>
                    <th><h3>Route Variant</h3></th>
                    <th><h3>Status</h3></th>
                </tr>
                <tr ng-repeat="busData in busReportInfo.busData">

                    <td>{{busData.busId}}</td>
                    <td ng-bind-html="busData.routeVariant | routeFilter"></td>
                    <td style="color:{{getColor(busData.deviationFromTimetable)}}">{{getStatus(busData.deviationFromTimetable)}}</td>

                </tr>
            </table>

            <div>
                <br>
                <textarea name="notes" ng-maxlength="2000" style="margin: 0px; width: 1108px; height: 66px;">Enter notes here</textarea>

                <button>
                    Save notes
                </button>
            </div>

        </uib-accordion-group>
    </uib-accordion>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:nth-child(odd){background-color: #f2f2f2}

    </style>

</div>